<h3 style="margin-top: 100px;">Lunes</h3>
<table style="width: 100%; border-collapse: collapse; text-align: center;">
  <tr>
      <th>Ejercicios</th>
      <th>Repeticiones</th>
      <th>Series</th>
      <th>Método</th>
  </tr>
  <tr>
      <td>Press de banca</td>
      <td>Fallo</td>
      <td>3</td>
      <td>Bajo tensión</td>
  </tr>
  <tr>
      <td>Press militar</td>
      <td>Fallo</td>
      <td>4</td>
      <td>Sin método</td>
  </tr>
  <tr>
      <td>Flexiones</td>
      <td>30</td>
      <td>4</td>
      <td>Sin método</td>
  </tr>
  <tr>
      <td>Laterales con mancuernas</td>
      <td>12-15</td>
      <td>4</td>
      <td>Bajo tensión</td>
  </tr>
</table>
<p style="margin-bottom: 50px;">
  Descripción del día Lunes: La duración de los descansos debe ser de 2-3 minutos. Los ejercicios van en biserie; cada vez que cambies de ejercicio, descansa 30 segundos.
</p>

<h4>Descripciones de Ejercicios</h4>
<ul>
  <li><b>Press de banca</b>: Acuéstate en un banco plano, agarra la barra con las manos un poco más anchas que el ancho de los hombros, y baja la barra hasta el pecho antes de empujarla de vuelta a la posición inicial.</li>
  <li><b>Press militar</b>: De pie, con los pies separados al ancho de los hombros, levanta la barra desde la parte superior del pecho hasta extender los brazos completamente.</li>
  <li><b>Flexiones</b>: Coloca las manos en el suelo a la altura de los hombros, baja el cuerpo manteniéndolo recto hasta casi tocar el suelo, y luego empuja hacia arriba.</li>
  <li><b>Laterales con mancuernas</b>: De pie, con una mancuerna en cada mano, levanta los brazos lateralmente hasta que estén a la altura de los hombros, luego bájalos lentamente.</li>
</ul>

<h4>Estiramientos y Recuperación</h4>
<p>Realiza estiramientos para los músculos trabajados durante 10-15 minutos al finalizar la sesión. Usa técnicas de foam rolling para liberar tensiones musculares.</p>

<h4>Consejos Motivacionales</h4>
<p>Mantente enfocado en tus objetivos y recuerda que la consistencia es clave para el éxito. ¡No te rindas!</p>
